@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Fasthand&family=Noto+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sideBar {
    background-color: rgba(0, 200, 63, 0.968);
    height: 50vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    transition: transform 0.3s ease-out;
    position: absolute;
    margin: 20px;
    border-radius: 5px;
}

.sideBar nav {
    padding: 40px;

}

.sideBar nav li {
    font-size: 30px;
    list-style: none;
    padding: 8px 0;
}

.sideBar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
    background-image: url('./image/bgimg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blogItem {
margin: 20px;
font-family: 'Noto Sans', sans-serif;
}

.blogContainer {
    margin: 88px;
    color: white;
}

.blogContainer h1 {
    font-family: 'Noto Sans', sans-serif;
    margin: 23px;
}

.blogItem p {
    font-family: 'Source Code Pro', monospace;
}

.btn {
    padding: 7px 13px;
    border-radius: 22px;
    color: black;
    background-color: rgb(0, 234, 74);
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    margin: 10px 0;
}

.btn:hover {
    color: cadetblue;
    background-color: white;
}

.sideBarGo {
    transform: translate(0px, -500px);
        position: absolute;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
}

.cross {
    margin-left: 165px;
    margin-top: 5px;
}

@media (max-width:1300px) {
    *{
        /* background-color: red; */
    }
    .blogContainer {
        margin: 50px 8px;
    }
    /* .sideBar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}