@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Noto+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sideBar {
    background-color: grey;
    transition: transform 0.3s ease-in;
    position: absolute;
    height: 100vh;
    font-family: 'Fasthand', cursive;
}

.sideBar nav {
    padding: 10px;

}

.sideBar nav li {
    font-size: 30px;
    list-style: none;
    padding: 10px 0;
}

.sideBar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
    background-image: url('./image/bgimg1.jpg');
}

.contactForm {
    font-family: 'Noto Sans', sans-serif;
    margin: 88px;
    color: white;
}

.contactForm h1 {
    font-family: 'Source Code Pro', monospace;
    /* padding: 12px 0; */
}

.contactForm form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactForm form {
    margin: 0 40px;
}

.contactForm form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 25px;
    margin: 3px 0;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: cadetblue;
    font-weight: bold;
    font-size: 17px;
    margin: 0 3px;
    cursor: pointer;
}

.btn:hover {
    color: cadetblue;
    background-color: white;
}

.sideBarGo {
    transform: translate(-443px, 0px);
        position: absolute;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
}

.cross {
    margin-left: 100px;
}

@media (max-width:1300px) {
    *{
        /* background-color: red; */
    }
    .contactForm {
        margin: 50px 8px;
    }
    /* .sideBar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}