@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Fasthand&family=Noto+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}


.sideBar {
    background-color: rgba(0, 200, 63, 0.968);
    height: 50vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    transition: transform 0.3s ease-out;
    position: absolute;
    margin: 20px;
    border-radius: 5px;
}

.sideBar nav {
    padding: 40px;

}

.sideBar nav li {
    font-size: 30px;
    list-style: none;
    padding: 8px 0;
}

.sideBar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 100vw;
}

.container {
    display: flex;
    background-image: url('./image/bgimg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.intro {
    margin: 88px;
    color: white;
}

.intro h2 {
    font-family: 'Noto Sans', sans-serif;
    margin: 12px;
    /* text-align: center; */
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
    /* text-align: center; */

}

.skill {
    height: 15px;
}

.skillContainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    font-family: 'Source Code Pro', monospace;
    align-items: center;
    font-weight: 900;
}

.hundred {
    width: 265px;
    font-size: 13px;
    background-color: green;
    padding-bottom: 4px;
    padding-left: 4px;
}

.fifty {
    width: 132px;
    font-size: 13px;
    background-color: orangered;
    padding-bottom: 4px;
    padding-left: 4px;
}

.teentyf {
    width: 65px;
    font-size: 13px;
    background-color: red;
    padding-bottom: 4px;
    padding-left: 4px;
}

.H {
    margin-left: 68px;
}

.CS {
    margin-left: 78px;
}

.JS {
    margin-left: 10px;
}

.J {
    margin-left: 68px;
}

.C {
    margin-left: 97px;
}

.CC {
    margin-left: 77px;
}

.line {
    background-color: rgb(0, 234, 74);
    height: 2px;
    width: 70vw;
    margin-left: 14vw;
    margin-top: 78px;



}

.icons {
    display: flex;
}

.icons a {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
}


.gmail img {
    height: 40px;
    width: 40px;
    border-radius: 80px;
    margin-left: 44vw;
    margin-top: 10px;
}

.linkedin img {
    height: 40px;
    width: 40px;
    background-color: white;
    background-size: 10px;
    width: 40px;
    border-radius: 80px;
    margin-left: 46vw;
    margin-top: 10px;
}

.github img {
    height: 40px;
    width: 40px;
    background-color: black;
    background-size: 10px;
    width: 40px;
    border-radius: 80px;
    margin-left: 48vw;
    margin-top: 10px;
}

.disclaimer p {
    color: rgb(0, 255, 81);
    margin: 20px 0;
    text-align: center;
}

.sideBarGo {
    transform: translate(0px, -1000px);
    position: absolute;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
}

.cross {
    margin-left: 165px;
    margin-top: 5px;
}

@media (max-width:1281px) {

    .devPic {
        display: none;
    }

    .intro {
        text-align: center;
    }

    .intro h2 {
        margin-top: 8vh;
        text-align: center;
    }

    .skillContainer {
        margin-left: 26vw;
    }

    .btn {
        font-size: 10px;
    }

    .sideBar {
        height: 41vh;
    }

    .cross {
        margin-left: 13vw;
    }

    .line {
        margin-top: 25vh;
    }
}

@media (max-width:415px) and (min-width:377px) {

    .cross {
        margin-top: 10px;
        margin-left: 29vw;
        height: 30px;
        width: 30px;
    }

    .sideBar {
        height: 30vh;
    }

    .sideBar nav {
        padding: 30px;

    }

    .sideBar nav li {
        font-size: 20px;

    }

    .container {
        width: 162.9vw;
        height: 163vh;
    }

    .intro {
        width: 148vw;
        margin-left: 7vw;
        margin-top: 10vh;

    }

    .intro h2 {
        text-align: center;
    }

    .intro p {
        text-align: center;

    }

    .intro h2 {
        margin-top: 10vh;
    }

    .skillContainer {
        margin-left: 23vw;
    }

    .line {
        width: 92vw;
        margin-left: 34vw;
        margin-top: 36vh;
    }

    .gmail img {
        margin-left: 63vw;
    }

    .linkedin img {
        margin-left: 65vw;
    }

    .github img {
        margin-left: 67vw;
    }

    .disclaimer p {
        margin-left: 56vw;
        font-size: 9px;
    }
}

@media (max-width:281px) {

    .container {
        height: 220vh;
        width: 162vw;
    }

    .main {
        width: 150vw;
    }

    .sideBar {
        height: 47vh;
    }

    .cross {
        margin-left: 59vw;
    }

    .intro {
        text-align: center;
        width: 150vw;
        margin-left: 6vw;
    }

    .intro h2 {
        margin-top: 10vh;
        text-align: center;
    }

    .skillContainer {
        margin-left: 2vw;
    }

    .line {
        width: 110vw;
        margin-top: 19vh;
        margin-left: 27vw;
    }

    .gmail img {
        margin-left: 59vw;
    }

    .linkedin img {
        margin-left: 61vw;
    }

    .github img {
        margin-left: 63vw;
    }

    .disclaimer p {
        margin-left: 16vw;
        font-size: 9px;
    }
}

@media (max-width:361px) and (min-width:282px) {

    .container {
        width: 126.2vw;
        height: 195vh;
    }

    .intro {
        width: 116vw;
        margin-left: 5vw;

    }

    .intro h2 {
        text-align: center;
        margin-top: 10vh;
    }

    .intro p {
        text-align: center;

    }

    .skillContainer {
        margin-left: 0vw;
    }

    .sideBar {
        height: 30vh;
        width: 35vw;
    }

    .sideBar nav {
        padding: 20px;

    }

    .sideBar nav li {
        font-size: 20px;
        padding: 4px 0;
    }

    .cross {
        margin-top: 10px;
        margin-left: 29vw;
        height: 30px;
        width: 30px;
    }

    .line {
        margin-top: 17vh;
        margin-left: 17vw;
        width: 90vw;
    }

    .disclaimer p {
        font-size: 9px;
        margin-left: 23vw;
    }

}

@media (max-width:376px) and (min-width:362px) {

    .container {
        width: 126.2vw;
        height: 215vh;
    }

    .intro {
        width: 116vw;
        margin-left: 5vw;

    }

    .intro h2 {
        text-align: center;
        margin-top: 10vh;
    }

    .intro p {
        text-align: center;

    }

    .skillContainer {
        margin-left: 0vw;
    }

    .sideBar {
        height: 30vh;
        width: 35vw;
    }

    .sideBar nav {
        padding: 20px;

    }

    .sideBar nav li {
        font-size: 20px;
        padding: 4px 0;
    }

    .cross {
        margin-top: 10px;
        margin-left: 29vw;
        height: 30px;
        width: 30px;
    }

    .line {
        margin-top: 19vh;
        margin-left: 17vw;
        width: 90vw;
    }

    .disclaimer p {
        font-size: 9px;
        margin-left: 23vw;
    }

}

@media (max-width:391px) and (min-width:377px) {

    .container {
        width: 155vw;
        height: 155vh;
    }

    .sideBar {
        height: 32vh;
    }

    .cross {
        margin-top: 8px;
        margin-left: 31vw;
        height: 30px;
        width: 30px;
    }

    .intro {
        margin-left: 3vw;

    }

    .line {
        margin-top: 22vh;
    }
}

@media (max-width:394px) and (min-width:392px) {

    .container {
        width: 155vw;
        height: 159vh;
    }

    .sideBar {
        height: 32vh;
    }

    .cross {
        margin-top: 8px;
        margin-left: 31vw;
        height: 30px;
        width: 30px;
    }

    .intro {
        margin-left: 3vw;

    }

    .line {
        margin-top: 22vh;
    }
}

@media (max-width:541px) and (min-width:416px) {

    .container {
        height: 190vh;
        width: 100vw;
    }

    .sideBar {
        height: 35vh;
        width: 25vw;
    }

    .sideBar nav {
        padding: 25px;

    }

    .sideBar nav li {
        font-size: 20px;
        list-style: none;
        padding: 8px 0;
    }

    .intro {
        text-align: center;
        width: 90vw;
        margin-left: 5vw;
    }

    .intro h2 {
        margin-top: 10vh;
        text-align: center;
    }

    .skillContainer {
        margin-left: 2vw;
    }

    .cross {
        margin-top: 8px;
        margin-left: 21vw;
        height: 30px;
        width: 30px;
    }

    .line {
        margin-top: 21vh;
        margin-left: 14vw;
    }

    .gmail img {
        margin-left: 37vw;
    }

    .linkedin img {
        margin-left: 39vw;
    }

    .github img {
        margin-left: 41vw;
    }

    .disclaimer p {
        font-size: 9px;
    }

}

@media (max-width:769px) and (min-width:542px) {

    .container {
        height: 115vh;
    }

    .sideBar {
        height: 30vh;
    }

    .cross {
        margin-left: 21vw;
    }

    .intro {
        text-align: center;
    }

    .intro h2 {
        margin-top: 6vh;
        text-align: center;
    }

    .skillContainer {
        margin-left: 13vw;
    }

    .line {
        margin-top: 0vh;
    }

    .gmail img {
        margin-left: 41vw;
    }

    .linkedin img {
        margin-left: 43vw;
    }

    .github img {
        margin-left: 45vw;
    }

    .disclaimer p {
        font-size: 8px;
    }

}

@media (max-width:821px) and (min-width:770px) {

    .container {
        height: 105vh;
    }

    .sideBar {
        height: 30vh;
    }

    .cross {
        margin-left: 20vw;
    }

    .intro {
        text-align: center;
    }

    .intro h2 {
        margin-top: 8vh;
        text-align: center;
    }

    .skillContainer {
        margin-left: 13vw;
    }


    .line {
        margin-top: 11vh;
    }

    .gmail img {
        margin-left: 41vw;
    }

    .linkedin img {
        margin-left: 43vw;
    }

    .github img {
        margin-left: 45vw;
    }

    .disclaimer p {
        font-size: 10px;
    }

}

@media (max-width:913px) and (min-width:822px) {

    .container {
        height: 100vh;
    }

    .sideBar {
        height: 25vh;
    }

    .cross {
        margin-left: 18vw;
    }

    .intro {
        text-align: center;
    }

    .intro h2 {
        margin-top: 10.5vh;
        text-align: center;
    }

    .skillContainer {
        margin-left: 13vw;
    }

    .line {
        margin-top: 16vh;
    }

    .gmail img {
        margin-left: 41vw;
    }

    .linkedin img {
        margin-left: 43vw;
    }

    .github img {
        margin-left: 45vw;
    }

    .disclaimer p {
        font-size: 12px;
    }

}

@media (max-width:1025px) and (min-width:914px) {

    .sideBar {
        height: 52vh;
    }

    .cross {
        margin-left: 16vw;
    }

    .container {
        height: 177.5vh;
    }

    .intro {
        text-align: center;
    }

    .intro h2 {
        margin-top: 6vh;
        text-align: center;
    }

    .skillContainer {
        margin-left: 20vw;
    }

    .line {
        margin-top: 26vh;
    }

    .gmail img {
        margin-left: 42vw;
    }

    .linkedin img {
        margin-left: 44vw;
    }

    .github img {
        margin-left: 46vw;
    }
}