@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Fasthand&family=Noto+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}


.sideBar {
    background-color: rgba(0, 200, 63, 0.968);
    height: 50vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    transition: transform 0.3s ease-out;
    position: absolute;
    margin: 20px;
    border-radius: 5px;
}

.sideBar nav {
    padding: 40px;

}

.sideBar nav li {
    font-size: 30px;
    list-style: none;
    padding: 8px 0;
}

.sideBar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 100vw;
}

.container {
    display: flex;
    background-image: url('./image/bgimg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.intro {
    margin: 88px;
    color: white;
}

.intro h2 {
    font-family: 'Noto Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Code Pro', monospace; 
    margin: 12px;
}

.skill {
    height: 15px;
}

.skillContainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    font-family: 'Source Code Pro', monospace; 
    align-items: center;
    font-weight: 900;
}

.hundred {
    width: 265px;
    font-size: 13px;
    background-color: green;
    padding-bottom: 4px;
    padding-left: 4px;
}

.fifty {
    width: 132px;
    font-size: 13px;
    background-color: orangered;
    padding-bottom: 4px;
    padding-left: 4px;
}

.teentyf {
    width: 65px;
    font-size: 13px;
    background-color: red;
    padding-bottom: 4px;
    padding-left: 4px;
}

.H {
   margin-left: 68px; 
}

.CS {
margin-left: 78px;
}

.JS {
margin-left: 10px;
}

.J {
margin-left: 68px;
}

.C {
margin-left: 97px;
}

.CC {
margin-left: 77px;
}

.line {
    background-color: rgb(0, 234, 74);
    height: 2px;
    width: 70vw;
    margin-left: 14vw;
    margin-top: 80px;
    
    
    
}

.icons {
    display: flex;
}

.icons a {
    /* -webkit-border-radius: 50%; */
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    /* color: #fff;
    margin-left: 50vw;
    margin-right: 20px; */
}


.gmail img {
    height: 40px;
    width: 40px;
    border-radius: 80px;
    margin-left: 44vw;
    margin-top: 10px;
}

.linkedin img {
    height: 40px;
    width: 40px;
    background-color: white;
    background-size: 10px;
    width: 40px;
    border-radius: 80px;
    margin-left: 46vw;
    margin-top: 10px;
}

.github img {
    height: 40px;
    width: 40px;
    background-color: black;
    background-size: 10px;
    width: 40px;
    border-radius: 80px;
    margin-left: 48vw;
    margin-top: 10px;
}

.disclaimer p {
    color: rgb(0, 255, 81);
    margin: 20px 0;
    text-align: center;
}

.sideBarGo {
    transform: translate(0px, -1000px);
        position: absolute;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
}

.cross {
    margin-left: 165px;
    margin-top: 5px;
}

@media (max-width:1300px) {
    *{
        /* background-color: red; */
    }
    .intro {
        margin: 50px 8px;
    }
    /* .sideBar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}