@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Noto+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}


.sideBar {
    background-color: rgb(0, 255, 81);
    height: 50vh;
    font-family: 'Fasthand', cursive;
    transition: transform 0.3s ease-out;
    position: absolute;
    margin: 20px;
    border-radius: 5px;
}

.sideBar nav {
    padding: 40px;

}

.sideBar nav li {
    font-size: 30px;
    list-style: none;
    /* padding: 10px 0; */
}

.sideBar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    height: 100vh;
}

.container {
    display: flex;
    background-image: url('./image/bgimg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.intro {
    margin: 88px;
    color: white;
}

.intro h2 {
    font-family: 'Noto Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Code Pro', monospace; 
    margin: 12px;
}

.skill {
    height: 6px;
}

.skillContainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    font-family: 'Source Code Pro', monospace; 
    align-items: center;
    font-weight: 900;
}

.hundred {
    width: 265px;
    background-color: green;
}

.fifty {
    width: 132px;
    background-color: orangered;
}

.teentyf {
    width: 65px;
    background-color: red;
}

.sideBarGo {
    transform: translate(0px, -500px);
        position: absolute;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
}

.cross {
    margin-left: 165px;
    margin-top: 5px;
}

@media (max-width:1300px) {
    *{
        /* background-color: red; */
    }
    .intro {
        margin: 50px 8px;
    }
    /* .sideBar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}