@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Fasthand&family=Noto+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}


.sideBar {
    background-color: rgba(0, 200, 63, 0.968);
    height: 50vh;
    transition: transform 0.3s ease-out;
    position: absolute;
    margin: 20px;
    border-radius: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.sideBar nav {
    padding: 40px;

}

.sideBar nav li {
    font-size: 30px;
    list-style: none;
    padding: 8px 0;
}

.sideBar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 100vw;
    height: 100vh;

}

.infoContainer {
    /* background-color: rgb(81, 0, 255); */
    height: 65vh;
    width: 80vw;
    margin-top: 50px;
    margin-left: 9vw;
    display: flex;
    justify-content: space-around;
    font-family: 'Source Code Pro', monospace;
}

.container {
    display: flex;
    background-image: url('./image/bgimg1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.devPic img {
    height: 60vh;
    margin-top: 10px;
}

.devInfo {
    display: flex;
    color: white;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 3em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.about {
    font-size: 2.5em;
}

.moreAbout {
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Noto Sans', sans-serif;
}

.btn {
    margin-top: 25px;
    font-size: 16px;
}

.btn button {
    padding: 9px 14px;
    border-radius: 22px;
    color: black;
    background-color: rgb(0, 234, 74);
    font-weight: bold;
    font-size: 1em;
    margin: 3px 3px;
    cursor: pointer;
}

.btn button:hover {
    color: rgb(0, 234, 74);
    background-color: black;
}

.line {
    background-color: rgb(0, 234, 74);
    height: 2px;
    width: 70vw;
    margin-left: 14vw;
    margin-top: 111px;
}

.icons {
    display: flex;
}

.icons a {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
}


.gmail img {
    height: 40px;
    width: 40px;
    border-radius: 80px;
    margin-left: 44vw;
    margin-top: 10px;
}

.linkedin img {
    height: 40px;
    width: 40px;
    background-color: white;
    width: 40px;
    border-radius: 80px;
    margin-left: 46vw;
    margin-top: 10px;
}

.github img {
    height: 40px;
    width: 40px;
    background-color: black;
    background-size: 10px;
    width: 40px;
    border-radius: 80px;
    margin-left: 48vw;
    margin-top: 10px;
}

.disclaimer p {
    color: rgb(0, 255, 81);
    margin: 20px 0;
    margin-left: 34vw;
}

.sideBarGo {
    transform: translate(0px, -1000px);
    position: absolute;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
}

.cross {
    margin-left: 10.5vw;
    margin-top: 5px;
}

@media (max-width:1300px) {

    .devPic {
        display: none;
    }

    .devInfo {
        font-size: 10px;

    }

    .btn {
        font-size: 10px;
    }
}

    @media (max-width:415px) {

        .cross {
            margin-left: 24.5vw;
        }

        .sideBar {
            height: 30vh;
            /* width: 30vw; */
        }

        .sideBar nav {
            padding: 30px;
        
        }

        .sideBar nav li {
            font-size: 20px;
            
        }

        .infoContainer {
            margin-left: 28vw;
            margin-top: 20vh;
        }

        .devPic {
            display: none;
        }
    
        .devInfo {
            font-size: 10px;
    
        }
    
        .btn {
            font-size: 10px;
        }
    
       .container {
        width: 125vw;
        height: 125.5vh;
       }

       .line {
        width: 92vw;
        margin-left: 17vw;
        margin-top: 25vh;
       }

       .gmail img {
        margin-left: 46vw;
       }

       .linkedin img {
        margin-left: 48vw;
       }

       .github img {
        margin-left: 50vw;
       }

       .disclaimer p {
        margin-left: 24vw;
        font-size: 10px;
    }
    }

    @media (max-width:376px) {

        .sideBar {
            height: 20vh;
        }

        .sideBar nav li {
            padding: 6px 0;
        }

        .cross {
            margin-left: 28vw;
        }

        .gmail img {
            margin-left: 44vw;
           }
    
           .linkedin img {
            margin-left: 46vw;
           }
    
           .github img {
            margin-left: 48vw;
           }

        .disclaimer p {
            margin-left: 20vw;
            font-size: 9px;
        }
        
    }

    /* @media (max-width:321px) {

        .sideBar {
            height: 50vh;
        }

        .cross {
            margin-left: 33vw;
        }

        .disclaimer p {
            margin-left: 25vw;
            font-size: 8px;
        }
        
    } */

    @media (max-width:391px) {

        .sideBar {
            height: 32vh;
        }

        .cross {
            margin-left: 27vw;
        }

        .disclaimer p {
            /* margin-left: 30vw; */
            text-align: center;
            font-size: 8px;
        }

        .container {
            width: 125vw;
            height: 125.5vh;
           }    
        
    }

    /* @media (max-width:415px) {

        .sideBar {
            height: 32vh;
        }

        .cross {
            margin-left: 25vw;
        }

        .disclaimer p {
            margin-left: 32vw;
            font-size: 8px;
        }

        .container {
            width: 125vw;
            height: 126vh;
           }    
        
    } */